.button {
    width: 150px;
    color: white;
    padding: 10px;
    font-weight: bold;
    background-color: var(--button-color);
    border-radius: 5px;
    border: 1px solid gray;
    
    &:hover {
        background-color: rgb(255, 255, 255);
        color: black;
    }

    & + & {
        margin-left: 10px;
    } 
}